body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.hire-me-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.flexible-container {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.top-intro {
    padding: 2%;
    width: 50%;
}

.top-intro img {
    width: 80%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-item {
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}

#full-web {
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-size: large;
}